node_modules/
dist/
.env
.env.local
npm-debug.log*

### AL ###
# Template for AL projects for Dynamics 365 Business Central
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.bclicense
*.flf
TestResults.xml

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
